button{
    color: silver; 
    background-color: black; 
    border: none;  
}   
.btn{
    display: inline-block;
    text-decoration: none;
    color: $color-white;
    padding: 10px 20px;
    background-color: $color-secondary;
}
.btn--round{
    @extend .btn;
    border-radius: 200px;
}
a{
    color: $color-main;
    text-decoration: none;
}